@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160deg 19% 6%;
    --foreground: 0deg 0% 100%;
    --primary: 10deg 100% 43%;
  }

  html {
    scrollbar-width: none;
  }

  body {
    @apply bg-background w-screen overflow-x-clip text-[30vw] sm:text-[20vw] leading-[90%] font-extrabold text-primary;
  }

  picture {
    /* the z index is used because the NextJS Image Component has a position absolute when we use the fill prop */
    @apply block relative h-screen w-full -z-10;
  }

  img {
    @apply object-cover size-full;
  }
}
